<div class="main">

    <section class="search-pokemon">
        <div class="search-container">
            <h2>Buscar Pokemon</h2>
            <input type="text" [(ngModel)]="searchPokemon" (ngModelChange)="filterPokedex()">
        </div>
    </section>

    <section class="pokedex">
        @defer (when isLoading() == 1025) {
            
            @for (pokemon of filteredPokedex | slice : (pokedexPage - 1) * 20 : (pokedexPage - 1) * 20 + 20; track $index; let idx = $index ) {
                <div class="pokemon-card">
                    <div class="pokemon-image">
                        <img src={{pokemon.url}} alt="">
                    </div>
    
                    <div class="pokemon-name">
                        # {{pokemon.id}} - {{pokemon.name}}
                    </div>
    
                    <div class="pokemon-types">
                        @for (type of pokemon.types; track $index;) {
                            <div class="type" [ngClass]="{
                                'bug': type.type.name == 'bug',
                                'dragon': type.type.name == 'dragon',
                                'fairy': type.type.name == 'fairy',
                                'fire': type.type.name == 'fire', 
                                'ghost': type.type.name == 'ghost',
                                'ground': type.type.name == 'ground',
                                'normal': type.type.name == 'normal',
                                'psychic': type.type.name == 'psychic', 
                                'steel': type.type.name == 'steel', 
                                'dark': type.type.name == 'dark', 
                                'electric': type.type.name == 'electric', 
                                'fighting': type.type.name == 'fighting', 
                                'flying': type.type.name == 'flying', 
                                'grass': type.type.name == 'grass', 
                                'ice': type.type.name == 'ice', 
                                'poison': type.type.name == 'poison', 
                                'rock': type.type.name == 'rock', 
                                'water': type.type.name == 'water', 
                                }">
                                {{type.type.name}}
                            </div>
                        }
                    </div>
                </div>
            }
        }
        @placeholder {
            <div style="color: white;">
                Cargando ({{isLoading()}} / 1025)
            </div>
        }
        
    </section>

    <section class="paginator">
        <button [disabled]="numberOfPages.length < 1 || pokedexPage === 1" (click)="pokedexPage = 1;">
            &#8606;
        </button>

        <button [disabled]="numberOfPages.length < 1 || pokedexPage === 1" (click)="pokedexPage -= 1">
            &larr;
        </button>

        <div class="pagination">
            @for (page of numberOfPages; track $index; let idx = $index) {
                <button (click)="pokedexPage = idx + 1">
                    {{idx + 1}}
                </button>
            }
        </div>

        <button [disabled]="numberOfPages.length < 1 || pokedexPage === numberOfPages.length" (click)="pokedexPage += 1">
            &rarr;
        </button>

        <button [disabled]="numberOfPages.length < 1 || pokedexPage === numberOfPages.length" (click)="pokedexPage = numberOfPages.length">
            &#8608;
        </button>
        
    </section>

</div>