<div class="main">

    <section class="search-pokemon">
        <div class="search-container">
            <h2>Buscar Pokemon</h2>
            <input type="text">
        </div>
    </section>

    <section class="pokedex">
        @for (pokemon of pokedex | slice : (pokedexPage - 1) * 20 : (pokedexPage - 1) * 20 + 20; track $index; let idx = $index ) {
            <div class="pokemon-card">
                <div class="pokemon-image">
                    <img src="https://www.pngarts.com/files/3/Bulbasaur-PNG-Picture.png" alt="">
                </div>

                <div class="pokemon-name">
                    #{{pokemon + 1}} - Bulbasaur
                </div>

                <div class="pokemon-types">
                    @for (type of [1, 1]; track $index) {
                        <div class="type">
                            Tipo
                        </div>
                    }
                </div>
            </div>

        }
    </section>

    <section class="paginator">
        @if (pokedex.length <= 20) {
            <button>
                1
            </button>
        }
        @else {
            <button [disabled]="numberOfPages.length < 1 || pokedexPage === 1" (click)="pokedexPage = 1">
                &#8606;
            </button>

            <button [disabled]="numberOfPages.length < 1 || pokedexPage === 1" (click)="pokedexPage -= 1">
                &larr;
            </button>

            <div class="pagination">
                @for (page of numberOfPages; track $index; let idx = $index) {
                    <button (click)="pokedexPage = (idx + 1)">
                        {{idx + 1}}
                    </button>
                }
            </div>

            <button [disabled]="numberOfPages.length < 1 || pokedexPage === numberOfPages.length" (click)="pokedexPage += 1">
                &rarr;
            </button>

            <button [disabled]="numberOfPages.length < 1 || pokedexPage === numberOfPages.length" (click)="pokedexPage = numberOfPages.length">
                &#8608;
            </button>
        }
    </section>

</div>