.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    section {
        width: 100%;
    }

    .search-pokemon {
        height: 10%;
        display: flex;
        justify-content: center;
        background: #F95047;

        .search-container {
            width: 15%;

            h2 {
                margin: 0;
            }

            input {
                width: 100%;
                font-size: 1.5rem;
            }
        }
    }

    .pokedex {
        height: 77%;
        background: radial-gradient(circle, #cacaca 5%, #000000 10%);;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;

        .pokemon-card {
            width: 20%;
            margin: 10px 30px;
            height: 40%;
            margin-bottom: 2%;

            .pokemon-image {
                background: rgb(197, 197, 197);
                display: flex;
                justify-content: center;
                height: 80%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .pokemon-name {
                background: white;
                border-left: 3px solid rgb(197, 197, 197);
                border-right: 3px solid rgb(197, 197, 197);
                text-align: center;
                font-size: 1.2rem;
            }

            .pokemon-types {
                background: white;
                display: flex;
                height: 20%;
                justify-content: space-evenly;
                align-items: center;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-left: 3px solid rgb(197, 197, 197);
                border-bottom: 3px solid rgb(197, 197, 197);
                border-right: 3px solid rgb(197, 197, 197);

                .type {
                    border: 1px solid black;
                    padding: 5px 10px;
                    border-radius: 10px;
                }

                .bug {
                    background: #729f3f;
                }

                .dragon {
                    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
                }

                .fairy {
                    background: #fdb9e9;
                }

                .fire {
                    background: #fd7d24;
                }

                .ghost {
                    background: #7b62a3;
                }

                .ground {
                    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
                }

                .normal {
                    background: #a4acaf;
                }

                .psychic {
                    background: #f366b9;
                }

                .steel {
                    background: #9eb7b8;
                }

                .dark {
                    background: #707070;
                }

                .electric {
                    background: #eed535;
                }

                .fighting {
                    background: #d56723;
                }

                .flying {
                    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
                }

                .grass {
                    background: #9bcc50;
                }

                .ice {
                    background: #51c4e7;
                }

                .poison {
                    background: #b97fc9;
                }

                .rock {
                    background: #a38c21;
                }

                .water {
                    background: #4592c4;
                }
            }
        }
    }

    .paginator {
        height: 5%;
        text-align: center;
        background: #E7E7E7;
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            font-size: 1.5rem;
            cursor: pointer;
            margin: 0 10px;

            &:disabled {
                cursor: default;
            }
        }
        
        .pagination {
            max-width: 35%;
            overflow-x: auto;
            display: flex;
            scrollbar-width: thin;
        }
    }
}