@mixin containers ($h, $isWrap) {
    height: $h;
    display: flex;
    flex-wrap: $isWrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin lists ($cw) {
    width: 100%;
    column-width: $cw;
    column-rule: 1px solid rgb(75 70 74);
    font-size: 1.5rem;
    padding-top: 15px;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    background: url(https://static0.polygonimages.com/wordpress/wp-content/uploads/chorus/uploads/chorus_asset/file/23922676/Pokemon_SV_Worldmap.jpg);
    background-size: cover;

    button {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0) 0px 5px;

        &:active {
            box-shadow: rgba(0, 0, 0) 0px 0px;
            transform: translateY(5px);
        }
    }

    section {
        width: 100%;
        display: flex;
        margin: 15px;
        
        button {
            border-radius: 6px;
        }
    }

    .back-button-section {
        height: 5%;
    }

    .profile {
        height: 30%;
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        border-top-left-radius: 300px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: radial-gradient(circle at 15% 0%, #DB0643, #52308B 100%);

            .pokemon-image {
                display: flex;
                justify-content: center;
                height: 80%;
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .pokemon-types {
                display: flex;
                height: 20%;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .type {
                    border: 1px solid black;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 1.5rem;
                }

                .bug {
                    background: #729f3f;
                }

                .dragon {
                    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
                }

                .fairy {
                    background: #fdb9e9;
                }

                .fire {
                    background: #fd7d24;
                }

                .ghost {
                    background: #7b62a3;
                }

                .ground {
                    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
                }

                .normal {
                    background: #a4acaf;
                }

                .psychic {
                    background: #f366b9;
                }

                .steel {
                    background: #9eb7b8;
                }

                .dark {
                    background: #707070;
                }

                .electric {
                    background: #eed535;
                }

                .fighting {
                    background: #d56723;
                }

                .flying {
                    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
                }

                .grass {
                    background: #9bcc50;
                }

                .ice {
                    background: #51c4e7;
                }

                .poison {
                    background: #b97fc9;
                }

                .rock {
                    background: #a38c21;
                }

                .water {
                    background: #4592c4;
                }
            }
        
    }

    .general-info {
        width: 70%;
        align-items: center;
        background: radial-gradient(circle at 100% -50%, #DB0643, #52308B 50%);
        border-top-right-radius: 300px;

        @include containers(30%, nowrap);

        .general-column {
            width: 50%;
            padding: 0 20px;

            h1, h2 {
                color: white;
            }

            .info {
                display: flex;
                width: calc(100% - 40px);
                justify-content: space-between;
                align-items: center;

                .info-value {
                    background: white;
                    padding: 10px;
                    font-size: 1.5rem;
                    text-align: center;
                    width: 30%;
                    border-radius: 6px;
                }
            }
        }
    }

    .stats {
        justify-content: space-around;
        background: radial-gradient(circle at 50% 150%, #FFFFFF, #000000, #52308B 50%);

        @include containers(16%, nowrap);

        h2 {
            color: white;
        }

        .stat-container {
            width: 10%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            .stat {
                background: white;
                padding: 5px;
                font-size: 1.5rem;
                text-align: center;
                border-radius: 6px;
                width: 100%;
            }
        }

    }

    .movements {
        @include containers(30%, wrap);
        overflow-y: auto;
        background: radial-gradient(circle at 50% 0%, #ffffff, #000000, rgb(235, 236, 245) 50%);
        
        .movements-list {
            @include lists(20em);
            
            li {
                background: rgba(235, 236, 245, 0.4);
                color: #000000;
                padding: 6px 10px;
                list-style-position: inside;
            }
        }
    }

    .games {
        @include containers(30%, wrap);
        overflow-y: auto;
        background: #EBECF5;
        border-bottom-left-radius: 300px;
        border-bottom-right-radius: 300px;
        text-align: center;

        .games-list {
            @include lists(20em);

            list-style-position: inside;
        }
    }
}

h1 {
    font-size: 1.75rem;
}

.divisor {
    height: 90%;
    width: 0%;
    border: 1px solid rgb(0, 0, 0, 30%);
}

.title {
    margin: 0;
    position: sticky; 
    top: 0; 
    background: rgb(197, 197, 197); 
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: rgb(0, 0, 0, 50%) 0 5px 20px;
}